.flex {
  margin: 50px auto;
  display: flex;
  width: 1250px;
  .card {
    border: solid 0.5px #eaeaea;
    padding: 30px;
    width: 800px;
    margin: 50px;
    // margin-left: auto;
    box-sizing: border-box;
    background: #fff;
    border-radius: 3px;
    p {
      margin-bottom: 10px;
      font-size: 25px;
      font-weight: 500;
      line-height: 1.5em;
    }
    .value {
      margin-left: 50px;
      cursor: pointer;
    }
    .choices {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 800px) {
  .flex {
    width: 100%;
    margin: 0px;
    display: block;
    .card {
      width: 100%;
      margin: 0px;
      margin-top: 80px;
    }
    .right-side {
      width: 100%;
      margin: 50px 0px;
    }
  }
}
