.card-home {
  border: solid 0.5px #eaeaea;
  padding: 30px;
  width: 800px;
  margin: 100px auto;
  box-sizing: border-box;
  background: #fff;
  border-radius: 3px;
  .wrapper-home {
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper-images {
      .images {
        height: 300px;
        width: 300px;
        margin: auto;
      }
    }
  }
  .title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: monospace;
    text-align: center;
  }
  .content {
    font-size: 25px;
    font-weight: 500;
    line-height: 1.8em;
    margin-bottom: 20px;
    font-family: monospace;
  }
  ul {
    list-style-type: lower-alpha;
    margin-left: 60px;
    li {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.8em;
      margin-bottom: 20px;
      font-family: monospace;
    }
  }
}

@media screen and (max-width: 800px) {
  .card-home {
    width: 100%;
    margin-top: 60px;
    .wrapper-home {
      display: block;
      .wrapper-images {
        display: flex;
        justify-content: center;
        align-items: center;
        .images {
          height: 200px;
          width: 200px;
          margin: 50px;
          display: inline-block;
        }
      }
    }

    .title {
      font-size: 22px;
      text-align: left;
    }
    .content {
      font-size: 20px;
    }
  }
}
