.header {
  height: 80px;
  background: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  width: 100%;
  font-weight: bold;
  border-bottom: solid 1px #333;
}

@media screen and (max-width: 800px) {
  .header {
    position: fixed;
    top: 0;
  }
}
