.header {
  height: 80px;
  background: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  width: 100%;
  font-weight: bold;
  border-bottom: solid 1px #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    height: 60px;
    width: 60px;
    margin-right: 10px;
  }
  p {
    font-family: monospace;
    font-style: italic;
  }
}

@media screen and (max-width: 800px) {
  .header {
    position: fixed;
    top: 0;
    height: 60px;
    font-size: 25px;
    .logo {
      height: 40px;
      width: 40px;
    }
  }
}
